
.container-1 , .contanier-2 , .rpsDiv, .cont4 , .cont5{
  border: 2px solid blue;
  margin: 0 auto;
  width:50%;
  text-align: center;
}
.my,.my2, #rps, .pickColor, .row-1, .row-2,.row-3{
  display:flex;
  border:5px solid red;
  padding:10px;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content:space-around;
}

.my div{
  padding:10px;
  border:1px solid;


}

.my2 img, .rps-box img {
  border:1px solid green;
  padding:10px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}


.rps-box img:hover{
  box-shadow: 0px 10px 50px rgba(37,50, 233, 1);
}
.row-1,.row-2{
  background-color:green;

}

/* prOJEVCT 555555 */
.row-1 div {
  border:2px solid black;
  padding:10px;
  flex:1;
  box-shadow: 0px 2px;
  text-align: center;
  height:350px;
}
.row-1 img {
  width: 25%;
  padding:10px;
}

table,th{
  padding: 20px;
  border-spacing:2px;
  border: 2px solid black;
}


.row-2 button{
  padding:20px;
  border:2px solid black;
}
